.main__frame-panel{
  flex-grow: 0;
  width: 170px;
  background: #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}
.main__frame-panel


.main__frame-panel::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.main__frame-panel::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

.main__frame-panel::-webkit-scrollbar-track-piece{
	width: 12px;
	background-color: #555;
}

.main__frame-panel::-webkit-scrollbar-thumb{
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #444;
}







.frame-box{
  background-image: url(../../assets/img/canvasBG.png);
  width: 128px;
  height: 128px;
  position: relative;
  margin-bottom: 5px;
}
.frame-box__canvas{
  image-rendering: pixelated;
  width: 100%;
  height: 100%;
}
.frame-box:hover>
.frame-box__copy-btn{
  display: block;

}
.frame-box:hover>
.frame-box__delete-btn{
  display: block;

}
.frame-box__copy-btn,
.frame-box__delete-btn{
  display: none;
  position: absolute;

  width: 30px;
  height: 30px;
  background: yellow;
  border: 2px solid;
  text-align: center;
}
  .frame-box__copy-btn{
  background-image: url(../../assets/img/copy-solid.svg);

  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  left: 0;
}
.frame-box__delete-btn{
  background-image: url(../../assets/img/trash-solid.svg);

  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  top: 0;
  left: 0;
}
.selected {
  box-shadow: inset 0px 0px 19px 2px black;
}
.frame-panel__add-new-frame-btn{

  background: yellow;
  border: 3px solid black;
  width: 100px;
  border-radius: 10px;
  font-weight: 900;
}
