* {
  margin: 0;
}
body{
  position: relative;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.app {
  display: grid;
  grid-template-rows: 6vh 94vh;
  user-select:none;
}
.app__header{
  grid-row: 1/2;
  background: #444;
  color: white;
  box-shadow: 0 16px 10px -8px #ccc;
}
.header__label{
  color: yellow;
  text-shadow: black 2px 2px 0,
   black -2px -2px 0,
   black -2px 2px 0,
   black 2px -2px 0;
}
.app__main{
  grid-row: 2/3;
  display: flex;
  flex-grow: 1 1 2 1;
  width: 100%;
  height: 100%;
}
