
@media only screen and (max-width: 480px) {
  body {
    background-position-y: 31vw;
    font-size: 12px;
  }
  .header {
    grid-template-rows: 20vw 12vw;
  }
  .header__logo{
    grid-column: 2 / 8;
    font-size: 38px;
  }
  .header__languages {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    align-self: start;
    font-size: 10px;
  }
  .header__navigation {
    grid-column: 1 / 10;
    grid-row: 1 / 2;
    align-self: start;
    text-align: center;
    display: block;
    margin-top: 26.5vw;
    margin-left: 0;
  }
  .navigation__item{
    display: none;
  }
  .navigation__burger{
    grid-column: 9 / 10;
    grid-row: 1 / 2;
    display: block;
    position: absolute;
    right: 8vw;
    top: 7vw;
    width: 8vw;
    height: 8vw;
    background-image: url("../assets/img/bars-solid.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  .navigation__burger-checkbox {
    display: none;
  }
  .navigation__burger-checkbox:checked{
    display: none;  
  }
  .navigation__burger-checkbox:checked ~ .navigation__burger{
    background-image: url("../assets/img/times-solid.svg");
  }
  .navigation__burger-checkbox:checked ~ .navigation__item  {
    display: block;
    position: relative;
    margin-right: 0;
    padding: 1.35vw;
    color: #000;
    font-size: 16px;
    background: #fff;
  }
  .navigation__burger-checkbox:checked ~ .navigation__item:hover {
    background: #616fc5;
    color: white;
  }
  .header__login-signin {
    grid-column: 6 / 10;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: center;
    font-size: 12px;
  }
  .login-signin__login {
    height: 5.5vw;
  } 
  .login-signin__signin {
    margin-left: 3vw;
    padding: 0.9vw 2.1vw 1.2vw;
    border-radius: 3vw;
    box-shadow: none;
  }
  .login-signin__signin:hover {
    background-image: linear-gradient(90deg, #616fc5 20%, #593082 100%);
  }
  .main__tagline {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 14vw 8vw;
  }
  .tagline__line1 {
    grid-column: 2 / 9;
    grid-row: 1 / 2;
    align-self: end;
    justify-self: start;
    font-size: 20px;
  }
  .tagline__line2 {
    grid-column: 2 / 7;
    grid-row: 2 / 3;
    align-self: start;
    justify-self: start;
    font-size: 15px;
  }
  .social-link {
    visibility: hidden;
  }
  .box-shadow {
    visibility: hidden;
  } 
  .main__create-account {
    grid-template-rows: 32vw;
  }
  .create-account__btns {
    grid-column: 1 / 4;
    grid-row: 1 /2;
    justify-self: center;
    align-self: start;
    font-size: 4vw;

  }
  .create-account__btn {
    display: block;
    margin-bottom: 2vw;
    border-radius: 4vw;
  }
  .create-account__google-btn {
    font-size: 12px;
  }
  .create-account__apple-btn {
    font-size: 16px;
  }
  .create-account__google-btn,
  .create-account__apple-btn {
    width: 8vw;
    height: 8vw;
    margin: 0 4vw;
    line-height: 8vw;
  }
  .main__features {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 27vw 39vw 38vw 21vw 18vw;
  }
  .features__first-feature {
    grid-row: 1 / 2;
  }
  .features__second-feature {
    grid-row: 2 / 3;
  }
  .features__third-feature {
    grid-row: 3 / 4;
  }
  .features__first-feature,
  .features__second-feature,
  .features__third-feature {
    grid-column: 1 / 3;
    align-self: end;
    justify-self: center;
    width: 80%;
  }
  .first-feature__img,
  .second-feature__img,
  .third-feature__img {
    width: 15vw;
  }
  .first-feature__title,
  .second-feature__title,
  .third-feature__title {
    font-size: 22px;
  }
  .first-feature__subtitle,
  .second-feature__subtitle,
  .third-feature__subtitle {
    font-size: 14px;
    line-height: 1.2;
  }
  .first-feature__description,
  .second-feature__description,
  .third-feature__description {
    font-size: 11px;
  }
  .features__fourth-feature {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
    align-self: end;
    justify-self: end;
    text-align: right;
    margin-right: 2vw;
  }
  .fourth-feature__title {
    font-size: 32px;
  }
  .fourth-feature__description {
    font-size: 12px;
  }
  .features__learn-more {
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    padding: 2vw 3vw;
    background: white;
    border: black .2vw solid;
    border-radius: 4vw;
  }
  .learn-more__link {
    font-size: 15px;
  }
  .main__partners {
    display: grid;
    grid-template-columns: 4fr 3fr;
    grid-template-rows: 10vw;

  } 
  .partners__img {
    grid-column: 1 / 3;
    width: 100vw;
  }
  .main__rewiews-and-device {
    grid-template-rows: 22vw 34vw 7vw;
    background-position-y: 5%;
    background-size: 37%;
    background-repeat: no-repeat;
    background-position-x: 93%;
  }
  .rewiews-and-device__rewiew {
    visibility: hidden;
  }
  .rewiews-and-device_device {
    grid-column: 1 / 7;
    grid-row: 1 / 3;
    align-self: start;
    width: 88%;
    padding-left: 3vw;
  }
  .device__title {
    font-size: 17px;
  }
  .device__description{
    font-size: 10px;
  }
  .rewiews-and-device_download-app {
    grid-column: 4 / 6;
    grid-row: 1 / 3;
    margin-top: 12vw;
    align-self: center;
    justify-self: end;
  }
  .download-app__itunes,
  .download-app__google {
    width: 25vw;
  }
  .main__support-donate {
    grid-template-rows: 10vw 10vw;
  }
  .support-donate__headline {
    grid-column: 1 / 4;
  }
  .headline__content:first-child {
    font-size: 14px;
    color: black;
  }
  .headline__content {
    grid-column: 1 / 4;
    font-size: 12px;
  }
  .support-donate__support-btns {
    grid-column: 1 / 4;
  }
  .main__privacy-and-menu {
    grid-template-rows: 24vw 35vw 35vw;
  }
  .privacy-and-menu__privacy {
    grid-column: 1 / 12;
  }
  .privacy__text {
    font-size: 3vw;
  }
  .privacy__img {
    width: 90vw;
  }
  .privacy-and-menu__contacts {
    grid-column: 2 / 7;
    width: 100%;
    margin-left: 0;
    font-size: 10px;
  }
  .privacy-and-menu__nmail {
    grid-column: 8 / 11;
    grid-row: 3 / 4;
  } 
  .privacy-and-menu__legal {
    grid-column: 4 / 8;
    grid-row: 3 / 4;
  }
  .privacy-and-menu__company {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
  .legal__link,
  .company__link,
  .nmail__link {
    font-size: 9px;
  }
  .footer {
    grid-template-rows: 10vw 5vw;  
  }
  .footer__footer-links,
  .footer__rights {
    grid-column: 2 / 10;
    font-size: 7px;
  }
  .border1,
  .border2,
  .border3,
  .border4,
  .border5,
  .border6,
  .border7{
    visibility: hidden;
  }
}