*{
  margin:0;
}
body{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: #111;

}
.header{

  width: 100%;
  height: 50px;
  background: #444;
  color: white;
}
.main{
  width: 1000px;
  margin: 0 auto;

  display: grid;
  background: #222;

  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(18, 100px);
}
.main__description{
  grid-row: 2/6;
  grid-column: 1/6;
  background: #333;
  position: relative;
  border: yellow 6px solid;
  z-index: 10;
}
.main__btns{
  grid-row: 5/9;
  grid-column: 8/13;
  background: #333;
  border: yellow 6px solid;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.main__btns:before{
  content: '';
  width: 656px;
  height: 0px;
  transform-origin: 100% 0;
  top: -6px;
  border-top: yellow 6px solid;
  position: absolute;
  right: -6px;
  transform: rotate(27.2deg);
}
.main__btns::after{
  content: '';
  width: 655.9px;
  height: 0px;
  transform-origin: 0 0;
  bottom: -12px;
  border-top: yellow 6px solid;
  position: absolute;
  left: -6px;
  transform: rotate(207.2deg);
}
.btns__create-link{
  text-decoration: none;
  color: white;
  border: yellow 6px solid;
  background: #222;
  padding: 20px;
  border-radius: 20px;

}
.main__exemples{
  grid-row: 8/12;
  grid-column: 1/6;
  background: #333;
  border: yellow 6px solid;
  position: relative;

}
.main__exemples::after{
  content: '';
  width: 0;
  height: 656px;
  transform-origin: 100% 100%;
  bottom: -6px;
  border-left: yellow 6px solid;
  position: absolute;
  right: -6px;
  transform: rotate(422.8deg);
}
.main__exemples::before{
  content: '';
  width: 0;
  height: 657px;
  transform-origin: 0% 0%;
  top: 0px;
  border-left: yellow 6px solid;
  position: absolute;
  left: -3px;
  transform: rotate(-117.25deg);
}

.main__author-info{
  grid-row: 13/18;
  grid-column: 3/11;
  background: #333;
  border: yellow 6px solid;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.main__author-info::before{
  content: '';
  width: 0;
  height: 651px;
  transform-origin: 0% 0%;
  top: -6px;
  border-left: yellow 6px solid;
  position: absolute;
  right: -12px;
  transform: rotate(-219.8deg);
}

.main__author-info::after{
  content: '';
  width: 0;
  height: 623.6px;
  transform-origin: 100% 100%;
  bottom: -4px;
  border-left: yellow 6px solid;
  position: absolute;
  left: -6.6px;
  transform: rotate(-15.48deg);
}
.author-info__name{
  margin-left: 50px;
  margin-top: 50px;
  color: white;
  border: yellow 6px solid;
  display: inline-block;
  padding: 15px;
  background: #222;
}
.author-info__contacts-list{

  background: #333;
  border: yellow 6px solid;
  list-style-type: none;
  padding: 0;
  margin-left: 50px;
  margin-top: 20px;
  display: inline-block;
}
.author-info__contacts-item{

  background: #222;
  color: white;
  border: yellow 6px solid;
  padding: 0;
  margin: 10px;
  padding: 10px;
}
